/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2015, 7:31:28 PM
    Author     : parallaxis
*/
	@import url("http://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css");

	.clearfix{
		clear: both;
	}
	.outer-container{
		/*width: 80%;*/
		position: relative;
		border: 1px solid #000;
		margin: 0 auto;
	}

	.section-container{
		position: relative;
		width: 100%;
		margin: 0 auto;
		border: 1px solid red;
		/*height: 300px;*/
	}

	.inner-container.button-container{
		text-align: center;
		margin: 5% 0;
		/*padding: 2% 2%;*/
	}

	.inner-container.button-container .send-quote{
		margin-top: 5%;
	}

	.inner-container.button-container .requester-addy{
		width: 90%;
	}

	.vertical{
		margin: 3% 3%;
		float: left;
		/*height: 150px;*/
	}
	.horizontal{
		width: 80%;
		/*height: 25px;*/
		position: relative;
		margin: 5% 25px;
	}
	.selected-container{
		height: auto;
		width: 80%;
		float: left;
		height: 100px;
		margin-top: 5px;
		border: 1px solid black;
		background-image: url(http://img.izismile.com/img/img2/20090422/magic_07.jpg);

	}
	.selected-container img{
		width: 100%;
		height: auto;
		margin: 2% 2%;
	}

	.frames-container{
	  position: relative;
	  margin: 0 auto;
	  /*width: 80%;*/
	}
	.frames-container ul{
  list-style: none;
  position: relative;
  margin: 0 auto;
  /*width: 90%;*/
  padding: 0 0 0 0;
  display: block;
  padding-left: 2%;
	}

	.frames-container li{
		float: left;

	}

	.frame{
		width: 200px;
		height: 100px;
	}

	.inner-container{
		/*margin: 0 2%;*/
	}

	.picker-container{
		width: 100%;
		height: auto;
		position: relative;
		border: 1px solid black;
		/*float: left;*/
	}

	.calc-container{
		width: 90%;
		padding: 5% 5%;
		height: auto;
		position: relative;
		border: 1px solid black;
		/*float: right;		*/
	}



	@media screen and (max-width: 1186px){
		.picker-container{
			width: 90%;
			height: auto;
			position: relative;
			border: 1px solid black;
			float: none;
			margin: 0 auto;
		}

		.calc-container{
			width: 90%;
			height: auto;
			position: relative;
			border: 1px solid black;
			float: none;
			margin: 0 auto;		
		}
	}